<!--
* {

    margin: 0px;
    padding: 0px;
}
body {

    font-size: 120%;
    background: #191919;
}
-->

.error{
    width:92%;
    margin:0px auto;
    padding: 10px;
    border:1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

form {
    width: 100%;
    margin: 0px auto 0px;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: blue;
    border-radius: 0px 0px 10px 10px;
}
.input-group {
  height:30px;
  width: 93%;
    margin: 10px 0px 10px 0px;
}
.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input{
    height:30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}
.btn{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
